.text-green-a {
    font-size: calc(11px + 0.938vw);
    line-height: calc(17px + 0.938vw);
}
.text-orani-big-a {
    font-size: calc(27px - 0.762vw);
    line-height: 30px;
}

.text-light-small-a {
    font-size: calc(11px + 0.938vw);
}

@media screen and (max-width: 1750px) {
    main {
        .second{
            gap: 10px; 
            .img-region{
                .img-wrapper {
                    img{
                        width: 95%;
                        height: 95%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1620px) {
    main {
        .second{
            gap: 15px; 
        }
    }
}

@media screen and (max-width: 1440px) {
    main {
        .second{
            padding-bottom: 165px;
        }
    }
}

@media screen and (max-width: 1220px) {

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    main {
        .second{
            .grid-wrapper { 
                .info { 
                    padding-top: 80px;
                }
            }

        }

        .products {
            .container {
                h2 {
                    margin-bottom: 50px;
                }
                .wrapper {
                    grid-template-columns: 1fr;
                    justify-items: center;
                    grid-column-gap: 0px;
                    .menu {
                        max-width: 550px;
                        grid-column: 1 / 1;
                        grid-row: 1 / 1;
                        text-align: center;
                        .cat {
                            display: none;
                        }
                        nav {
                            margin-bottom: 55px;
                            ul {
                                flex-direction: row;
                                gap: 20px;
                            }
                        }
                    }
                    .search {
                        grid-column: 1 / 3;
                        grid-row: 3 / 3;
                        text-align: center;
                    }
                    .gallery {
                        grid-column: 1 / 1;
                        grid-row: 2 / 2;
                        justify-content: center;
                        margin-bottom: 50px;
                        gap: 10px;
                    }
                }
            }
        }
        .reviews {
            .container {
                .slider {
                    button {
                        &.slick-next{
                            right: -82px;
                        }
                        &.slick-prev{

                            left: -82px;
                        }
                    }
            }
        }
    }

    }
}

@media screen and (max-width: 1150px) {
    main {
        .six {
            left: -21%;
        }
        .second {
            .grid-wrapper{
                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    h1 {
                        margin-bottom: 450px;
                    }
                }
            }
            .img-region{
                position: absolute;
                left: calc(50% - 213px);
                top: 235px;
                .img-wrapper {
                    max-width: 440px;
                    justify-content: center;
                }
                img {
                    width: 100%;
                    height: 100%; 
                }
            }
        }
        .about {
            .container {
                .director-wrap {
                    margin-left: 40px;
                }
                .about-desc {
                    padding: 45px 0 0px 45px;
                }
            }
        }
        .adv {
            padding-right: 0;
            .container {
               .adv-items {
                display: grid;
                grid-template-columns: 200px 200px 200px;
                justify-content: center;
                justify-items: center;
                grid-row-gap: 10px;
                .bottom {
                    margin-top: 180px;
                }
                .g-right {
                    grid-column: 3 / 3;
                    grid-row: 2 / 3;
                }
               } 
            }
        }
        .our {
            .container {
                .wrap {
                    justify-content: center;
                    gap: 20px;
                }
            }
        }
        .reviews {
            .container {
                .slider {
                    .slider-item {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                }
            }
        }
    }
    .footer {
        .container {
            justify-content: center;
            gap: 40px;
            flex-wrap: wrap;
            .subscribe {
               text-align: center;
            }
        }
    }
}

@media screen and (max-width: 945px) {
 main {
    .products{
        .container{
            .wrapper{
                .gallery{
                    .gallery-item{
                        width: 230px;
                        height: 230px;
                    }
                }
            }
        }
    }   
    .our {
        padding: 60px 0px 60px;
        .container {
            .wrap {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                gap: 30px;
                text-align: center;
                p{
                    margin-top: 0;
                    &:last-child {
                        grid-column: 1 / 1;
                        grid-row: 3 / 3;
                    }
                }
                .img-border {
                    &:first-of-type {
                        grid-column: 1 / 1;
                        grid-row: 4 / 4;
                        margin-top: 0;
                    }
                    &:last-of-type {
                        grid-column: 1 / 1;
                        grid-row: 2 / 2;
                    }
                }
            }
        }
     }
 }

}

@media screen and (max-width: 800px) {
    .count-popup {
        position: absolute;
        .count-container {
            form {
                flex-direction: column;
                .right-form {
                    input {
                        width: 305px;
                    }
                    .send-form {
                        width: 305px;
                    }
                }
            }
        }
    }
    .price-popup {
        position: absolute;
    }
    
}

@media screen and (max-width: 768px) {
    main {
        .second {
            padding-bottom: 95px;
            .grid-wrapper {
                padding-left: 15px;
                .info {
                    h1{
                        font-size: calc(23px + 0.938vw);
                        line-height: calc(32px + 0.938vw);
                    }
                    .info-text {
                        font-size: calc(11px + 0.938vw);
                        margin-top: 30px;
                        line-height: calc(17px + 0.938vw);
                    }
                }
            }
            .img-region {
                top: 150px;
            }
        }
        .about {
            padding-bottom: 40px;
            .container {
                flex-direction: column;
                .director-wrap{
                    margin-left: calc(50% - 145px);
                    max-width: 280px;
                    img {
                        bottom: 50px;
                    }
                }
                .about-desc {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .sign {
                        width: 100%;
                        flex-direction: column;
                        .sign-img {
                            align-self: center;
                        }
                        p {
                            align-self: end;
                        }
                    }
                    h3 {
                        letter-spacing: 0px;
                        font-size: calc(17px + 0.938vw);
                        line-height: calc(22px + 0.938vw);
                        text-align: center;
                    }
                    .about-one {
                        gap: 0px;
                        span {

                            line-height: 0.1;
                        }
                        p {
                            .text-green-a();
                        }
                    }

                    .about-two {
                       .text-green-a();
                    }
                    .sign {
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .products {
            padding: 60px 0 50px;
            .container {
                h2 {
                    .text-orani-big-a();
                    margin-bottom: 50px;
                }
                .wrapper {
                    .menu {
                        nav {
                            ul {
                                li {
                                    font-family: "PlayBold";
                                }
                            }
                        }
                    }
                }
            }
        }
        .sale {
            padding: 85px 0 90px 0;
            .container {
                .sale-border {
                    padding: 6px;
                    width: 450px;
                    .block {
                        padding: 40px 0 25px 0;
                        .procent {
                            font-size: calc(42px + 0.938vw);
                            margin-bottom: 25px;
                        }
                        .ring {
                            margin-bottom: 50px;
                            font-size: calc(11px + 0.938vw);
                        }
                        button {
                            width: calc(111px + 0.938vw);
                            padding: 15px 25px;
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .adv {
            padding: 80px 0px 70px 0px;
            .container {
                h2 {
                    .text-orani-big-a();
                    margin-bottom: 60px;
                }
                .adv-items {
                    .adv-item {
                        width: 176px;
                        text-align: center;
                        h5 {
                            font-size: 20px;
                            margin-bottom: 13px;
                        }
                        span {
                            font-size: 14px;
                            line-height: 19px;
                        }
                    }
                }
            }
        }
        .our {
            .container {
                padding: 0 15px;
                h2 {
                    .text-orani-big-a();
                    margin-bottom: 40px;
                }
                .wrap {
                    p {
                        .text-light-small-a();
                    }
                    .img-border {
                        max-width: 350px;
                        height: 210px;
                    }
                }
            }
        }
        .reviews {
            padding: 60px 0 60px;
            .container {
                padding: 0px 60px;
                h2 {
                    .text-orani-big-a();
                    margin-bottom: 60px;
                }
                .slider {
                    button {
                        &.slick-next{
                            right: -30px;
                        }
                        &.slick-prev{
                            left: -30px;
                        }
                    }
                    .slider-item {
                        padding-left: 55px;
                        .photo {
                            .photo-wrap {
                                width: 315px;
                                height: 285px;
                                span {
                                    left: 100px;
                                }
                            }
                            .block {
                                width: 315px;
                                height: 300px;
                                top: 40px;
                                left: -55px;
                            }
                        }
                        .review {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
    .count-popup {
        .count-container {
            .close-popup {
                right: 10px;
                top: 25px;
            }
            .count-header {
                .fill-form {
                    margin-bottom: 50px;
                    h2 {
                        font-size: 25px;
                    }
                }
                .desc {
                    font-size: 14px;
                    margin-bottom: 40px;
                }
            }
            form {
                gap: 30px;
                .right-form {
                    gap: 30px;
                    input {
                        padding: 25px 0px 165px 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
.header {
        nav {
            position: relative;
           .left-menu-wrapper {

                .hide {
                    display: none;
                }
                .menu {
                    gap: 78px;
                    .menu-item:last-child {
                        position: absolute;
                        right: 75px;
                        svg {
                            width: 21px;
                            height: 25px;
                        }
                    }
                }
        
           } 
           .right-menu-wrapper {
            flex-direction: row;
            .hide {
                display: none;
            }
            .number {
                padding-bottom: 5px;
                border-bottom: 1px solid transparent;
                &:hover {
                    border-bottom: 1px solid #fff;
                }
                .logo {
                    background: transparent;
                    .phone-svg {
                        fill: #fff;
                        width: 25px;
                        height: 25px;
                    }

                }

            }
            .burger {
                display: block;
                align-self: flex-start;
            }
        
           }
        }
    
}
}

@media screen and (max-width: 720px) {
    main {
        .adv {
            .container {
                .adv-items {
                    grid-template-columns: 1fr 1fr;
                    .hammer {
                        grid-column: 2 / 2;
                        grid-row: 2 / 2;
                    }
                    .bottom {
                        margin-top: 0;
                    }
                    .time {
                        grid-column: 1 / 1;
                        grid-row: 3 / 3;
                    }
                    .board {
                        grid-column: 2 / 2;
                        grid-row: 4 / 4;
                    }
                    .g-right {
                        grid-column: 1 / 1;
                        grid-row: 5 / 5;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
 main {
    .products {
        .container {
            h2 {
                margin-bottom: 45px;
            }
            .wrapper {
                position: relative;
                .menu {
                    span {
                        margin-bottom: 0px;
                    }
                    nav {
                        .drop-down {
                            display: flex;
                            align-items: baseline;
                            gap: 21px;
                            cursor: pointer;
                            svg {
                                transform: rotate(90deg);
                            }
                            .active-prod {
                                font-size: 18px;
                                color: #fff;
                                font-family: "PlayBold";
                            }
                        }
                        ul {
                            &.active-menu {
                                position: absolute;
                                flex-direction: column;
                                z-index: 10;
                                left: calc(50% - 85px);
                                top: 30px;
                                background-color: #fff;
                                display: flex;
                                gap: 10px;
                                width: 178px;
                                padding: 15px 10px;
                                text-align: left;
                                li {
                                    &.active-products {
                                       display: none;
                                    }
                                }
                            }
                            display: none;
                            li {
                                color: #24261b;
                                font-family: "PlayRegular";
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .second{
        .img-region {
            top: 165px;
        }
    }
    .reviews {
       .container {
        .slider {
            button.slick-next {
                right: -10px;
                width: calc(8px + 2vw);
                height: calc(8px + 2vw);
                top: 140px;
            }
            button.slick-prev {
                left: -10px;
                width: calc(8px + 2vw);
                height: calc(8px + 2vw);
                top: 140px;
            }
            .slider-item {
                gap:18px;
                .photo {
                    .photo-wrap{
                        width: 230px;
                        height: 195px;
                        span {
                            font-size: 10px;
                            left: 75px;
                        }
                    }
                    .block {
                        width: 215px;
                        height: 200px;
                    }

                }
                .review {
                    p {
                        font-size: 13.7px;
                        line-height: 1.5;
                    }
                }
            }
        }
       } 
    }
 }
 .footer {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        .contacts {
            .number {
                span {
                    font-size: 14px;
                }
            }
            .address {
                span {
                    font-size: 14px;
                }
            }
        }
        .nets {
            ul {
                flex-direction: row;
                gap: 12px;
                li {
                    a {
                        span{
                            display: none;
                        }  
                        svg {
                            display: block;
                        }
                    }

                }
            }
        }
        .subscribe {
            .email {
                flex-direction: column;
                gap: 14px;
                input {
                    width: 290px;
                }
                button {
                    width: 290px;
                }
            }
        }
    }
 }
}

@media screen and (max-width: 510px) {
 main {
    .products {
        .container {
            .wrapper {
                .gallery {
                    margin-bottom: 42px;
                    .gallery-item {
                        width: 140px;
                        height: 140px;
                        .about-prod {
                            bottom: -140px;
                            p {
                                font-size: 13px;
                                line-height: 18px;
                                height: 32px;
                            }
                            span {
                                font-size: 13px;
                            }
                            button {
                                font-size: 11px;
                                width: 114px;
                            }
                        }
                        &:hover{
                            .gallery-img{
                                height: 95%;
                            }
                            
                        }
                    }
                }
                .search {
                    text-align: left;
                }
            }
        }
    }
    .about {
        .container {
            .about-desc {
                .about-one {
                    max-width: 279px;
                    margin-bottom: 11px;
                    span {
                        font-size: calc(47px - 3.062vw);
                    }
                }
                .about-two {
                    &:first-of-type {
                        margin-left: 62px;
                        margin-bottom: 16px;
                    }
                    &:last-of-type {
                        max-width: 275px;
                    }
                }
            }
        }
    }
 }

}

@media screen and (max-width: 510px) {
    main {
        .sale{
            .container {
                .sale-border {
                    width: 250px;
                }
            }
        }
        .reviews {
            .container {
                .slider {
                    button {
                        &.slick-next {
                            right: -45px;
                        }
                        &.slick-prev {
                            left: -45px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
.menu-burger {
    width: 100%;
}
.header {
    padding: 22px 0 18px 0;
    nav {
        .left-menu-wrapper {
            .menu {
                .menu-item{
                    &:last-child{
                        svg {
                            width: 35px;
                        }
                    }
                }
            }
        }
        .right-menu-wrapper{
            .number {
                .logo {
                        width: 23px;
                }
            }
        }
    }
}
 main {
    .second {
        .grid-wrapper {
            padding-left: 8px;
            padding-right: 8px;
            .info {
                padding-top: 50px;
            }
        }
        .img-region {
            .img-wrapper {
                img {
                    width: 100%;
                }
            }
        }
    }
    .about {
        .container {
            .director-wrap {
                margin-left: calc(50% - 105px);
                max-width: 215px;
                img {
                    bottom: 37px;
                }
            }
            .about-desc {
                .about-one {
                    display: block;
                    p{
                        display: inline;
                    }
                }
            }
        }
    }
    .reviews {
        .container {
            padding: 0px 30px;
            .slider {
                button {
                    &.slick-prev {
                        top: 95px;
                        left: -20px;
                    }
                    &.slick-next {
                        top: 95px;
                        right: -20px;
                    }
                }
                .slider-item {
                    padding-left: 0px;
                    .photo {
                        .photo-wrap {
                            width: 150px;
                            height: 140px;
                            span {
                                left: 35px;
                                bottom: 5px;
                            }
                        }
                        .block {
                            width: 150px;
                            height: 140px;
                            top: 30px;
                            left: -30px;
                        }
                    }
                    .review {
                        width: 260px;
                    }
                }
            }
        }
    }
    .adv {
        .container {
            .adv-items {
                grid-template-columns: 1fr;
                justify-items: flex-start;
                grid-row-gap: 50px;
                .hammer {
                    grid-column: 1 / 1;
                    justify-self: end;
                }
                .board {
                    grid-column: 1 / 1;
                    justify-self: end; 
                }
            }
        }
    }
 }

    
}

@media screen and (max-width: 320px) {
    main {
        .second {
            .img-region {
                left: calc(50% - 160px);
                .img-wrapper {
                    img {
                        width: 320px;
                        height: 311px;
                    }
                }
            }
            .grid-wrapper {
                .info {
                    h1 {
                        margin-bottom: 350px;
                    }
                    .info-text {
                        width: 90%;
                    }
                    .transp-button {
                        margin-top: 25px;
                    }
                }
            }
        }
        .sale {
            .container {
                .sale-border {
                    .block {
                        padding: 35px 0 22px 0;
                        .procent {
                            margin-bottom: 5px;
                        }
                        .ring {
                            margin-bottom: 25px;
                        }
                        button {
                            padding: 10px 25px;
                        }
                    }
                }
            }
        }
        .our {
            .container {
                h2 {
                    text-align: left;
                }
                .wrap {
                    text-align: left;
                    p{
                        line-height: 1.42;
                    }
                    .img-border {
                        height: 180px;
                    }
                }
            }
        }
        .reviews {
            padding: 60px 0 0px;
        }
    }
    .footer {
        padding: 90px 0 50px 0;
    }
}